In [6]:
import matplotlib as mpl
import matplotlib.pyplot as plt
import pandas as pd

In [27]:
df_can = pd.read_csv('canada.csv', encoding = "ISO-8859-1")

In [25]:
df_can.head()

,Statistics - Immigration and Citizenship Screening Programs / Statistiques - Immigration et citoyenneté - Programme de filtrage,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Requests Received,2014-2015,2015-2016,2016-2017,2017-2018,2018-2019,2019-2020
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Permanent Resident Inside and Outside Canada,"33,900","56,500","58,500","43,400","41,900","18,000"
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN